*{
    background-color:white;
    box-sizing: border-box;
    
}
header, footer{
    background-color: yellow;
}
#heading{
    background-color: yellow;
    text-align: center;
}
footer p{
    text-align: center;
    background-color: yellow;
}
.navigation a{
    color: white;
    background-color: grey;
}
.navigation a:hover{
    color: aqua;
}
.card a:hover{
    color:green ;
}
body{
    justify-content: center;
}
#hero-img{
    position: relative;
    width: 100%;
}
section, section> *{
    text-align: center;
   background-color: aqua;
}

#index-main{
    color: #000;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
}

/*Mobile view */
@media screen and (max-width: 768px){

    /*Responsive Menu*/
    #menu {
        font-size: 1.5rem;
        border: 1px solid rgba(0,0,0,.3);
        padding: 3px 7px 6px;
        background-color: #eee;
        color: white;
         position: absolute;
        top :0px;
        right:0px;
    }
    
    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "❎";
    }
    
    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: black;
        color: white;
    }
    .navigation li {
        display: none;
    }
    .navigation li a {
        display: block;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
    .navigation li a:hover {
        background-color: aqua;
        color: #333;
        font-weight: 700;
    }
    /* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
    .open li {
        display: block;
        width: 100%;
    }
    .open li a {
        display: block;
    }

    /*sections layout*/
    #current-events{
        grid-column: 1/2;
        grid-row: 1/2;

    }
    #weather-card{
        grid-column: 1/2;
        grid-row: 2/3;

    }
    .spotlights{
        grid-column: 1/2;
        grid-row: 3/4;
    }

}

/*Toggle dark mode*/
#mode{
    position: sticky;
    top: 0;
    margin-top: 5px;
    margin-left: 80%;
    font-size: xx-large;
    

}

/*Join Button*/
#join-button{
    position: absolute;
    top: 50%;
    right: 50%;
    background-color: green;
}

.hero img{
    width: 100%;
    height: auto;
}

   

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    grid-column: 1/2;
    text-align: center;
  }
  #grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

  }
  #grid img {
    width: 100%;
    height: auto;
  }
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    grid-column: 2/3;
    
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 700px) {
    #grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    
      }
      div.content,.sidebar {
        grid-column: 1/2;
      }
      .sidebar{
        grid-column: 1/2;
      }
  }
/*Join page styling*/
  form,fieldset {
    text-align: left;
    background-color: yellowgreen;
    color: black;
}
form label{
    display: block;
    margin: 30px;
    background-color: green
   
}
form label{
    display: block;
    margin: 30px;
    background-color: yellow;
    padding: 0;
    width: 20%;
}
#submitBtn{
    background-color: blue;
    color: yellow;
}
#level{
    margin-top: 70px;
    margin-bottom: -20px;
}
form div{
    background-color: green;
    color: yellow;
}
form{
    width: 100%;
}
    

/*style the directory page*/
#cards section{
    text-align: center;
}
#cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(333px,1fr));
}
#card h2{
    color: yellow;
    text-align: center;
    background-color: black;
}

#cards img{
    width: 200px;
    height: auto;
    border: 1px solid #fff;
	box-shadow: 0 0 20px #333;
    margin-top: 8px;
}
#cards a{
    background-color: aquamarine;
}
#card{
    border-radius: 5px;
    margin:60px;
    background-color: darkgrey;
}
#card h3{
    background-color: darkgrey;
}
main .directory-menu{
    align-items: center;
    width: 100%;
   
}
.menu button {
	padding: 1rem;
	font-weight: 700;
    
}
.directory-menu  {
	display: grid;
	grid-template-columns: 1fr 1fr;


}



/*Home page banner*/
.banner{
    border-radius: 20px;
    border-color: red;
    color: blue;
    background-color: lightblue;
    width: 350px;
    text-align: center;
    margin: auto;
}
.banner h1, .banner h5{
    background-color: lightblue;
}
.closeX{
    background-color: lightgoldenrodyellow;
    color: red;
}

/*w11*/
section.spotlights div>*{
    background-color: aqua;
}
section.spotlights{
    background-color: white;
    padding-bottom: 10px;
}
#weather-card,#weather-card>* {
    text-align: center;
    background-color: aqua;
}
#submitBtn{
    margin: auto;
    z-index: 1;
    width: 100px;
    text-align: center;
    height: auto;
}
picture{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
picture img, #submitBtn{
    grid-column: 1/1;
    grid-row: 1/1;
}