h1{
    text-align: center;
}
header, footer{
    background-color: black;
    color: springgreen;

}
footer a {
    text-align: center;
    text-decoration: none;
}
a{
    background-color: white;
}
#hero img{
    width: 100%;
    height: auto;
    aspect-ratio: 2/1;
}
#hero{
    position: relative;
}
#rental-btn{
    position: absolute;
    top: 70%;
    left: 45%;
    padding: 8px;
    
}
body{
    height: 100%;
}
#weather-icon{
    width: 500px;
}
#weather-card{
    background-color: dimgrey;
    color: white;
    width: 50%;
    margin: auto;
    text-align: center;
}
.rental-types{
    background-color: lavender;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(490px,1fr));
    grid-gap: 10px;
}
.rental-types section{
    margin: auto;
    background-color: deepskyblue;
    padding: 15px;
}
#message{
    background-color: brown;
    text-align: center;
    padding: 10px;
    width: 300px;
}
/*Maximum temperature message*/
.banner{
    border-radius: 20px;
    border-color: red;
    color: blue;
    background-color: lightblue;
    width: 350px;
    text-align: center;
    margin: auto;
}
.banner h1, .banner h5{
    background-color: lightblue;
}
.closeX{
    background-color: lightgoldenrodyellow;
    color: red;
}

/*social media icons*/
.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.ha:hover{
    opacity: 0.7;
}
.fa-facebook{
    background-color: #3b5998;
    color: white;
}
.fa-twitter{
    background-color: #55ACEE;
    color: white;
}

/*Pricing table*/
table{
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    background-color: darkorange;
}
tr {
    text-align: center;
}
td{
    border: 1px solid yellow;
    padding: 8px;

}
#rentals-main{
    background-color: goldenrod;
}
/*Mobile view */
@media screen and (max-width: 768px){

    /*Responsive Menu*/
    .mobile-container {
        max-width: 480px;
        margin: auto;
        background-color: #555;
        height: auto;
        color: white;
        border-radius: 10px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .active {
        background-color: #04AA6D;
        color: white;
      }
}

/*Reservations*/
#services-agreements {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(600px,1fr));
grid-gap: 20px;
background-color: grey;

}

#services-agreements section{
margin: auto;
padding: 10px;
background-color: goldenrod;
}

/*Join page styling*/
form,fieldset {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    background-color: yellowgreen;
    color: black;
}
form label{
    display: block;
    margin: 30px;
    background-color: green
   
}
form label{
    display: block;
    margin: 30px;
    background-color: yellow;
    padding: 3px;
    width: 20%;
}
#submitBtn{
    background-color: blue;
    color: yellow;
    width: 200px;
}
#level{
    margin-top: 70px;
    margin-bottom: -20px;
}
form div{
    background-color: green;
    color: yellow;
}
form{
    width: 100%;
}

/*Contact Page*/
#contactUs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px,1fr));
    grid-gap: 20px;
    background-color: grey;
}
#contactUs{
    background-color: aliceblue;
    margin: auto;
    padding: 10px;
}
iframe{
    width: 90%;
    height: 90%;
   margin: auto;
}